{% extends "blog/layout.html" %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
{{ post.content }}
<hr/>

<h3>Comments</h3>
{% for comment in post.comment_set.all %}
    {{ comment.message }}
    {{ comment.author }}
    {{ comment.updated }}
{% endfor %}


    <br/>
    <br/>
    <hr/>
    <a href="{% url "blog:post_list" %}">글 목록</a>
{% endblock %}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title{{ post.title }}</title>
</head>
<body>

</body>
</html>